absl-py
altair
annotated-types
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h5py
httplib2
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
namex
narwhals
networkx
numpy
opt_einsum
optree
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
six
smmap
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
watchdog
Werkzeug
wrapt
xgboost
